<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN">
<div data-bb-type="screen" data-bb-effect="fade">
    <div data-bb-type="menu">
        <div onclick="bb.pushScreen('view/info.html', 'info');" data-bb-type="menu-item" data-bb-img="images/icons/ic_info.png" data-bb-pin="left">Info</div>
        <div onclick="bb.pushScreen('view/settings.html', 'settings');" data-bb-type="menu-item" data-bb-img="images/icons/ic_settings.png" data-bb-pin="right">Settings</div>
    </div>

    <div data-bb-type="title" data-bb-caption="Newest"></div>

    <div id="gridContainer"></div>

    <div data-bb-type="action-bar">
        <!-- tab overflow menu -->
        <div id="tabFeatured" onclick="bb.pushScreen('view/featured.html', 'featured');" data-bb-type="action" data-bb-style="tab" data-bb-overflow="true" data-bb-img="images/icons/tab1.png">Featured</div>
        <div id="tabPopular" onclick="bb.pushScreen('view/popular.html', 'popular');" data-bb-type="action" data-bb-style="tab" data-bb-overflow="true" data-bb-img="images/icons/tab1.png">Popular</div>
        <div id="tabNewest" onclick="bb.pushScreen('view/newest.html', 'newest');" data-bb-type="action" data-bb-style="tab" data-bb-selected="true" data-bb-overflow="true" data-bb-img="images/icons/tab1.png">Newest</div>
        <div id="tabCollections" onclick="bb.pushScreen('view/collections.html', 'collections');" data-bb-type="action" data-bb-style="tab" data-bb-overflow="true" data-bb-img="images/icons/tab1.png">Collections</div>
        <div id="tabCategories" onclick="bb.pushScreen('view/categories.html', 'categories');" data-bb-type="action" data-bb-style="tab" data-bb-overflow="true" data-bb-img="images/icons/tab1.png">Categories</div>
        <div id="tabTags" onclick="bb.pushScreen('view/tags.html', 'tags');" data-bb-type="action" data-bb-style="tab" data-bb-overflow="true" data-bb-img="images/icons/tab1.png">Tags</div>

        <!-- buttons -->
        <div id="btnSearch" onclick="bb.pushScreen('view/search.html', 'search');" data-bb-type="action" data-bb-style="button" data-bb-img="images/icons/ic_search.png">Search</div>
    </div>
</div>