<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN">
<div data-bb-type="screen" data-bb-effect="fade">
    <div data-bb-type="menu">
        <div onclick="bb.pushScreen('view/info.html', 'info');" data-bb-type="menu-item" data-bb-img="images/icons/ic_info.png" data-bb-pin="left">Info</div>
        <div onclick="bb.pushScreen('view/settings.html', 'settings');" data-bb-type="menu-item" data-bb-img="images/icons/ic_settings.png" data-bb-pin="right">Settings</div>
    </div>

    <div data-bb-type="title" data-bb-caption="Search"></div>

    <div data-bb-type="action-bar" data-bb-back-caption="Back"></div>
</div>