<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN">
<div data-bb-type="screen" data-bb-effect="fade">
  <div data-bb-type="title" data-bb-caption="Welcome to Tviewer"></div>
  
  <div style="height: 100%; margin-top: 200px;">
    <div data-bb-type="button" data-bb-style="stretch" onclick="oAuth.connect()">Connect to Thingiverse</div>
    <div data-bb-type="button" data-bb-style="stretch" onclick="oAuth.prompt()">Code</div>
    <div data-bb-type="activity-indicator" id="oAuthIndicator" data-bb-size="large" style="margin:0 auto; display: none;"></div>
  </div>
</div>